.Bio{
    border: 3px solid black;
    border-radius: 20px;
    margin: 1rem 3rem 1rem 3rem;
    display: grid;
    background: linear-gradient(rgb(58, 79, 122), rgba(107, 146, 225, 0.674));
    align-items: center;
}

.Picture{
    margin: 1rem;
}

.BioField{
    margin: 1rem;
    padding: 0.5rem 3rem 0.5rem 3rem;
    border-bottom: 2px black solid;
    border-right: 2px black solid;
    display: inline-block;
    box-shadow: 0 2px 0 rgba(0,0,0,0.30)
}

img{
    border-radius: 20px;
}

h2{
    padding: 1rem 3rem 1rem 3rem;
    font-size: 2rem;
}

h3~span{
    font-style: none;
}

p{
    padding: 0.5rem 2rem 0.5rem 2rem;
}