.General{
    background: rgba(0, 255, 255, 0.203);
    font-size: 1.5rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
}



ul{
    display: flex;
    justify-content: center;
    gap: 200px;
    list-style: none;
}

li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

li:hover{
    transform: scale(1.1);
    transition: 1s ease-in-out;
    
}

li>img:hover{
    animation: rotateY 3s linear infinite;
    object-fit: cover;

    transform-style: preserve-3d;
    backface-visibility: visible; 
}

a{
    color: black;
    font-weight: bolder;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    text-decoration: none;
    border-radius: 20px;
    display: inline;
    box-sizing: border-box;
}

a:visited{
    color: rgb(46, 45, 45);
}


a:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transform: scale(1.05);
    background: rgba(0, 255, 255, 0.547);
    transition: 0.5s ease-in-out;
    text-decoration: none;
}
a:active{
    background: darkblue;
    color: whitesmoke;
    transition: 0s;
}

@keyframes rotateY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}